---
import type { NotionDatabasePage } from "../scripts/notion/types";
import PostTitleType from "./PostTitleType.astro";
import PostType from "./PostType.astro";

interface Props {
  post: NotionDatabasePage;
}

const { post } = Astro.props;
const { id, title, cover, type } = post;
---

<li>
  <div class="p-3 rounded-md hover:bg-slate-300">
    <a href=`/posts/${id}`>
      {
        cover !== null &&
          <img src={cover} class="object-cover w-full h-40 rounded-md" />
      }
      <PostTitleType title={title} type={type}/>
    </a>
  </div>
</li>
